*
!.gitignore
!i3
!i3/*
!polybar
!polybar/*
!compton.conf
!fontconfig
!fontconfig/*
!wallpapers
!wallpapers/*
!nitrogen
!nitrogen/*
nitrogen/*saved*
!vim
!vim/*
!XOrg
!XOrg/*
!create_links.sh

!mpd
!mpd/*
!ncmpcpp
!ncmpcpp/*

!emacs
!emacs/*

!zsh
!zsh/*
!oh-my-zsh
!oh-my-zsh/*
!oh-my-zsh/themes
!oh-my-zsh/themes/*

!gtk-3.0
!gtk-3.0/*

*~
